.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    max-width: 700px;
    border-color: #DDDDDD;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px #a0a0a0;
    background-color: #E9E9E9;
}

.slider {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: inset 0 -1px 3px #A0A0A0;
    background-color: #FFFFFF;
    background-image: linear-gradient(to right bottom, #FFFFFF, #A0A0A0)
}
